@font-face {
    font-family: 'flexslider-icon';
    src: url('../flexslider-icon.woff')  format('woff'),
        url('../flexslider-icon.ttf')  format('truetype');
    font-display: swap;
    font-weight: 300;      
}

    @font-face {
        font-family: 'OpenSans';
        src: url('../FONTS/OpenSans/OpenSans-Light.woff2')  format('woff2'),
             url('../FONTS/OpenSans/OpenSans-Light.woff')  format('woff'),
            url('../FONTS/OpenSans/OpenSans-Light.ttf')  format('truetype');
        font-display: swap;
        font-weight: 300;      
    }


    @font-face {
        font-family: 'OpenSans';
        src: url('../FONTS/OpenSans/OpenSans-Medium.woff2') format('woff2'),
            url('../FONTS/OpenSans/OpenSans-Medium.woff') format('woff'),
            url('../FONTS/OpenSans/OpenSans-Medium.ttf') format('truetype');
        font-display: swap;
        font-weight: 500;   
    }

    @font-face {
        font-family: 'OpenSans';
        src: url('../FONTS/OpenSans/OpenSans-SemiBold.woff2') format('woff2'),
            url('../FONTS/OpenSans/OpenSans-SemiBold.woff') format('woff'),
            url('../FONTS/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
        font-display: swap;
        font-weight: 600;   
    }

    @font-face {
        font-family: 'OpenSans';
        src: url('../FONTS/OpenSans/OpenSans-Bold.woff2') format('woff2'),
        url('../FONTS/OpenSans/OpenSans-Bold.woff') format('woff'),
        url('../FONTS/OpenSans/OpenSans-Bold.ttf') format('truetype');
        font-display: swap;
        font-weight: 700;  
    }

    @font-face {
        font-family: 'Umbrage';
        src: url('../FONTS/Umbrage.woff2') format('woff2'),
        url('../FONTS/Umbrage.woff') format('woff'),
        url('../FONTS/Umbrage.ttf') format('truetype');
        font-display: swap;
    }

    @font-face {
        font-family: 'Oswald';
        src: url('../FONTS/Oswald/Oswald-Light.woff2') format('woff2'),
        url('../FONTS/Oswald/Oswald-Light.woff') format('woff'),
        url('../FONTS/Oswald/Oswald-Light.ttf') format('truetype');
        font-display: swap;
        font-weight: 300;  
    }

    @font-face {
        font-family: 'Oswald';
        src: url('../FONTS/Oswald/Oswald-Medium.woff2') format('woff2'),
        url('../FONTS/Oswald/Oswald-Medium.woff') format('woff'),
        url('../FONTS/Oswald/Oswald-Medium.ttf') format('truetype');
        font-display: swap;
        font-weight: 500;
    }

    @font-face {
        font-family: 'Oswald';
        src: url('../FONTS/Oswald/Oswald-Bold.woff2') format('woff2'),
        url('../FONTS/Oswald/Oswald-Medium.woff') format('woff'),
        url('../FONTS/Oswald/Oswald-Medium.ttf') format('truetype');
        font-display: swap;
        font-weight: 700;
    }

 
  